extends layout

block content
  h1= title
   - let result = results

  script.
    function buy(index){
      alert("You have purchased item " + (index+1));
    }

  div.container-fluid
    div.row.m-1
        each shoe, index in result
            div.col-sm-2.m-1(onClick = `buy(${index})`)
            - let destination = `/shoes/update?id=${shoe._id}`
                p Brand :  #{shoe.Brand}
                p Ambassador : #{shoe.Ambassador}
                p Price: #{shoe.price}
                button.btn(class="btn-primary ml-1",onclick=`dispatch('${destination}')`) Update

  script.
    function dispatch(path){
      window.location.href=path
    }

