extends layout

block content
  h1= title
   - let results = [{Brand: "Nike", Ambassador : "Jordan", price: '$125'},{Brand: "Puma", Ambassador: "Kohli", price: '$135'},{Brand: "Jimmy choo", Ambassador: "Sumanth", price:'$699'}];

  script.
    function buy(index){
      alert("You have purchased item " + (index+1));
    }

  div.container-fluid
    div.row
        each shoe, index in results
            div.col-sm-2(onClick = `buy(${index})`)
                p Brand :  #{shoe.Brand}
                p Ambassador : #{shoe.Ambassador}
                p Price: #{shoe.price}


