extends layout

block content
  h1= title
   - let result = results

  script.
    function buy(index){
      alert("You have purchased item " + (index+1));
    }

  div.container-fluid
    div.row
        each shoe, index in result
            div.col-sm-2(onClick = `buy(${index})`)
                p Brand :  #{shoe.Brand}
                p Ambassador : #{shoe.Ambassador}
                p Price: #{shoe.price}


